/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.5.0/css/all.css';


.nav-item {
  display: inline-block;
  font-weight: bold;
  font-size: .9em;
  color: #F2C307 !important;
  background-color: rgb(250, 245, 226);
  cursor: pointer;
}

.nav-item:hover {
  background-color: rgb(247, 237, 199);
  color: #F2C307;
}

.nav-item:active {
  transform: scale(.9);
}


.text-condor {
  color: gray;
}

.color-condor {
  color: #F2C307;
}

.not-found {
  font-size: 20pt;
  color: #F2C307;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #F2C307;
  /* Blue */
  border-radius: 50%;
  width: 6em;
  height: 6em;
  animation: loader 1.5s linear infinite;
}

@keyframes loader {
  from {
    transform: rotateZ(0deg)
  }

  to {
    transform: rotateZ(360deg)
  }
}

.form-disabled {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 225, 225, 0.534);
  z-index: 1002;
}
