<nav aria-label="breadcrumb" *ngIf="album">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href routerLink="/albums">Albums</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{album}}</li>
  </ol>
</nav>
<a class="nav-item nav-link mb-4 " (click)="open(content)">
  <i class="fa fa-upload"></i> New image
</a>
<ng-template #content let-modal>
  <div class="modal-header">
    <h6>Save an image</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #imageForm="ngForm">
      <div class="form-group">
        <label for="file">Image</label>
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" name="file" (change)="onFileSelected($event);" accept="image/*" id="inputGroupFile03"
              class="custom-file-input">
            <label class="custom-file-label" for="inputGroupFile03">{{nameFile}}</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="file">Name</label>
        <input type="text" name="name" placeholder="Type the file's name" class="form-control" [(ngModel)]="name" id="name"
          required>
      </div>
      <a class="nav-item nav-link mb-4 float-right" (click)="saveImage();">
        <i class="fa fa-save"></i> Save
      </a>
    </form>
  </div>
</ng-template>

<ng-template #seletcAudio let-modal>
  <div class="modal-header">
    <h6>Select Album</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="item-list" *ngFor="let album of albums; let i = index">
        <input type="radio" [checked]="albumSeleced == album" name="album" (change)="selectAlbum(album);" id="check-album{{i}}" class="check-album">
        <label for="check-album{{i}}">{{album.name}}</label>
      </div>
      <div class="mt-4">
      <a class="nav-item nav-link mb-4 float-left" (click)="unSelectAlbum();">
        <i class="fa fa-times"></i> Cancel
      </a>
      <a *ngIf="albumSeleced" class="nav-item nav-link mb-4 float-right" (click)="addToAlbum()">
        <i class="fa fa-save"></i> Save
      </a>
      </div> 
  </div>
</ng-template>


<div class="row">
  <div *ngFor="let image of images" class="col-lg-4 mb-4 item-image" placement="bottom" [ngbPopover]="popContent"
    popoverTitle="Image detail">
    <ng-template #popContent>
      <p><i class="fa fa-calendar facolor mr-2"></i>{{image.uploadDate | date:'short'}}</p>
      <p><i class="fa fa-image facolor mr-2"></i>{{image.filename}}</p>
      <p><i class="fa fa-images facolor mr-2"></i>{{image.albums_id}}</p>
      <a class="nav-item nav-link mr-2" (click)="removeImage(image._id);"> <i class="fa fa-trash-alt"></i> Remove</a>
      <a class="nav-item nav-link" *ngIf="!image.albums_id" (click)="open(seletcAudio, image)"><i class="fa fa-plus"></i> Add to album</a>
      <a class="nav-item nav-link" *ngIf="image.albums_id" (click)="removeFromAlbum(image);"><i class="fa fa-times"></i> Drop</a>
    </ng-template>
    <img src="http://localhost:3000/image/{{image._id}}" class="img-fluid image" alt="{{image._id}}">
  </div>
</div>
